.followingBtnFeed {
  background: transparent;
  border: none;
  padding: 0.5rem;
  margin: 0;
  color: #89937e;
  color: #c5cab9;
  font-size: 14px;
  cursor: pointer;
}

.followBtnNavbar {
  background: #c5cab9;
  border: none;
  padding: 0.25rem;
  margin-left: 0.5rem;
  color: black;
  cursor: pointer;
}

.collapsibleHeader {
  cursor: pointer;
  user-select: none; /* förhindrar textmarkering */
  padding: 10px;
  position: relative;
  transition: background-color 0.3s ease;
}

.collapsibleHeader:hover {
  background-color: #f0f0f0; /* Lätt grå bakgrund på hover */
}

.collapsibleHeader::after {
  content: "▼"; /* Standardikon: nedåtpil */
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.collapsibleHeader.open::after {
  transform: translateY(-50%) rotate(180deg); /* Roterar pilen när listan är öppen */
}
