.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-green-4);
  padding: 10px 20px;
}

.logo img {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu ul li a:hover {
  text-decoration: underline;
}
