.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo h1 {
  color: #fff;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu ul li a:hover {
  text-decoration: underline;
}
