/* Navbar.module.css */
.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start;
  align-items: start;
  height: 100vh; /* Full height of the viewport */
  background-color: var(--dark-green-4);
  padding: 20px 10px; /* More padding on the top and bottom */
  position: fixed; /* Make it fixed position */
  left: 0; /* Align it to the left */
  top: 0; /* Align it to the top */
  overflow-y: auto; /* Enable scrolling if content is too long */
}

.logo img {
  max-height: 50px; /* Smaller logo for the sidebar */
  max-width: 100%; /* Full width within the sidebar */
  margin-bottom: 20px; /* Space below the logo */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Full width */
}

.menu ul li {
  display: block; /* Each item on a new line */
  margin-bottom: 10px; /* Space between items */
}

.menu ul li a,
.menu ul li button {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block; /* Make links full width of list item */
  padding: 10px; /* Padding for larger click area */
}

.menu ul li button {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    width: 200px; /* Smaller sidebar on smaller screens */
  }
}

.userName {
  width: 100%;
  color: #f3f4e7;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  display: block; /* Make links full width of list item */
  padding: 10px;
  padding-bottom: 1rem;
}

hr {
  margin-top: 1rem;
  width: 50%;
}

.profilesList {
  letter-spacing: 2px;
  padding-top: 3rem;
  display: flex;
  color: white;
}

.profilesList li {
  margin-top: 1rem;
  font-size: smaller;
  font-weight: 100;
}

.profilesList hr {
  margin-bottom: 1rem;
  width: 50%;
}

.userNames {
  font-weight: 50;
  margin-top: 1rem;
}

.followBtnNavbar {
  margin: 0;
  color: red;
  cursor: pointer;
  background-color: transparent;
}
