*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  /* GRÖNA FÄRGERNA */
  --light-green-1: #f3f4e7; /* Lightest */
  --light-green-2: #c5cab9;
  --dark-green-3: #89937e;
  --dark-green-4: #314528;

  /* KONTRASTFÄRGER */
  --brownish: #6d412a;
  --beigeish: #cdac79;

  color: rgba(0, 0, 0, 0.87);
  background-color: var(--light-green-1);

  --border-radius: 0.25rem;
  --letter-spacing: 2px;
  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background-color: var(--light-green-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1;
  font-size: calc(1em + 0.5vw);
}

h2 {
  color: #6d412a;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 250px; /* Adjust widths as necessary */
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "nav main sd"
    "nav main sd"
    "ft ft ft";
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr; /* Tar bort sidebar och använder en kolumn layout */
    grid-template-areas:
      "nav"
      "main"
      "ft";
  }

  .sidebar,
  .profileTweetsWrapper,
  .followList {
    display: none; /* Gömmer vissa element på mindre skärmar */
  }

  .content,
  .profileListsContainer {
    margin-top: 1em;
    width: 90%; /* Gör huvudinnehållet bredare på små skärmar */
    justify-self: center;
  }

  .collapsibleList {
    width: 100%; /* Gör listorna bredare på små skärmar */
  }

  .footer {
    font-size: medium; /* Anpassar storleken på footertext */
  }

  h2,
  .profilePageTitle h3 {
    font-size: large; /* Minskar rubrikstorlekarna på små skärmar */
  }
}
@media (max-width: 480px) {
  body {
    font-size: calc(0.9em + 0.5vw); /* Minskar fontstorleken ytterligare */
  }

  h2,
  .profilePageTitle h3 {
    font-size: medium; /* Minskar ytterligare för mycket små skärmar */
  }
}

.footer {
  grid-area: ft;
  text-align: center;
  padding-top: 1rem;
  font-size: x-large;
}

.content {
  grid-area: main;
  margin-top: 5em;
  width: 70%;
  justify-self: center;
}

.sidebar {
  grid-area: sd;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.followbtn {
  display: flex;
  margin-left: 1rem;
}

.followList {
  margin-top: 2rem;
  background-color: white;
  box-shadow: 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 1rem;
  width: 50%;
}

.followList li {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.followingBtnFeed {
  background: transparent;
  border: none;
  padding: 0.5rem;
  margin: 0;
  color: #89937e;
  color: #c5cab9;
  font-size: 14px;
  cursor: pointer;
}

.profileTweetsWrapper {
  margin-top: 3rem;
}

.trendingList {
  font-size: small;
  text-align: start;
}

/* Profile Lists Container */
.profileListsContainer {
  display: flex;
  justify-content: space-around; /* Centrerar elementen med utrymme emellan */
  align-items: flex-start; /* Startar elementen vid toppen av containern */
  flex-wrap: wrap; /* Ser till att elementen kan radbrytas vid mindre skärmstorlekar */
  margin-top: 20px;
  background-color: white;
  box-shadow: 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.collapsibleList {
  width: 48%; /* Ger varje lista lite utrymme att andas */
  background: #f8f8f8; /* Lätt bakgrundsfärg */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lägger till en lätt skugga för djup */
  border-radius: 5px; /* Rundade hörn */
}

.profileArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
}

.profilePageImg {
  display: flex;
  width: 20%;
}

.profilePageImg img {
  display: flex;
  width: 80%;
}

.profilePageTitle {
  display: flex;
  font-size: x-large;
  width: 80%;
  align-items: center;
}

.profilePageTitle h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

.profilePageTitle em {
  font-size: large;
  letter-spacing: 2px;
}

.profileBody {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #314528;
  border-bottom: 1px solid #314528;
}

.profileBody p {
  font-size: medium;
  font-weight: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.avatar {
  max-width: 3rem;
}

.footercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ol,
ul {
  padding-left: 0 !important;
}
